---
import { Image } from "astro:assets";
import melancia from "../assets/melancia.png";
import copo from "../assets/copo.png";
import "../styles/global.css";
---

<div id="title">
  <div id="ftitle">
    <h1>Melancia. Só Melancia!</h1>
    <h2>
      Sem frescura, sem mistura, sem enganação. Melancia fresca batida na hora.
      É isso. Mais nada.
    </h2>

    <div class="fcont">
      <Image src={melancia} alt="Melancia" width={350} />
      <div class="text-content">
        <p>
          Nosso suco é feito com a polpa da melancia mais doce e suculenta,
          selecionada diariamente para garantir o máximo de sabor e frescor. É a
          simplicidade da fruta em sua forma mais pura, direto para o seu copo.
        </p>
      </div>
    </div>
    <div class="fcont">
      <div class="text-content">
        <p>
          Nosso suco é feito com a polpa da melancia mais doce e suculenta,
          selecionada diariamente para garantir o máximo de sabor e frescor. É a
          simplicidade da fruta em sua forma mais pura, direto para o seu copo.
        </p>
      </div>
      <Image src={copo} alt="Melancia" width={350} />
    </div>

    <div id="pbl">
      <a href="/cardapio">Ver Cardápio!</a>
    </div>
  </div>
</div>
