---
import { Image } from "astro:assets";
import melancia from "../assets/melancia.png";
import copo from "../assets/copo.png";
import "../styles/global.css";
---

<div id="title">
  <div id="ftitle">
    <h1>Melancia. Só Melancia!</h1>
    <h2>
      Sem frescura, sem mistura, sem enganação. Melancia fresca batida na hora.
      É isso. Mais nada.
    </h2>

    <div class="fcont">
      <Image src={melancia} alt="Melancia" width={350} />
      <div class="text-content">
        <p>
          Nosso suco é feito com a polpa da melancia mais doce e suculenta,
          selecionada diariamente para garantir o máximo de sabor e frescor. É a
          simplicidade da fruta em sua forma mais pura, direto para o seu copo.
        </p>
      </div>
    </div>
    <div class="fcont">
      <div class="text-content">
        <p>
          Nosso suco é feito com a polpa da melancia mais doce e suculenta,
          selecionada diariamente para garantir o máximo de sabor e frescor. É a
          simplicidade da fruta em sua forma mais pura, direto para o seu copo.
        </p>
      </div>
      <Image src={copo} alt="Melancia" width={350} />
    </div>

    <div id="pbl">
      <a href="/cardapio">Ver Cardápio!</a>
    </div>
  </div>
</div>

<style>
  #title {
    margin-top: 50px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-block: 5rem;
  }

  #ftitle {
    transform: translate(0, 0);
  }

  #ftitle img {
    margin: 50px;
    transform: translate(-0%, 10px);
  }

  #ftitle > h1 {
    color: var(--cor-primaria);
    font-size: 80px;
    margin-bottom: 10px;
  }

  #ftitle > h2 {
    font-size: 25px;
    margin-bottom: 100px;
    padding: 2px;
  }

  .fcont {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 50px;
    margin-top: 50px;
    margin-bottom: 35px;
  }

  .text-content {
    max-width: 400px;
    text-align: left;
    font-size: 20px;
    font-weight: bold;
  }

  #pbl > a {
    background-color: var(--cor-primaria);
    padding: 20px;
    text-decoration: none;
    color: var(--cor-fundo);
    font-weight: bold;
    border-radius: 10px;
    transition: 0.3s ease-in-out;
  }

  #pbl > a:hover {
    box-shadow: 5px 5px 0px var(--cor-secundaria);
  }

  @media (max-width: 768px) {
    #ftitle > h1 {
      font-size: 50px;
    }

    #ftitle > h2 {
      font-size: 20px;
      margin-bottom: 50px;
    }

    .fcont {
      flex-direction: column;
      gap: 20px;
      margin: 0 10px 0 10px;
    }

    .fcont img {
      max-width: 300px;
    }

    .text-content {
      text-align: center;
      max-width: 90%;
    }

    #title {
      padding-block: 2rem;
    }
  }
</style>
